.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a67133;
  font-weight: bold;
  background-color: #ffd29e;
  border: 2px solid #bfa689;
  font-size: 24px;
}
